.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white; // Background color white
  }
  
  .login-image {
    width: 30%; // Image takes up 30% of the width
    margin-bottom: 20px; // Adjust margin as needed
  }
  
  .login-button {
    border-width: .1em;
    padding: 1em 2em; 
    font-size: 1em; 
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; // Smooth transition for color changes
  }